/*
font-family: 'Great Vibes', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Mulish', sans-serif;
*/

/* ==== GENERAL STYLES ==== */

* {
    box-sizing: border-box;
}

/* ==== FULL SCREEN HEADER ==== */
.cover {
    display: flex;    
    justify-content: center;
    align-items: center;
    background: url(assets/wedding-landing-cover.jpg) no-repeat 70% center/cover;
    background-size: cover;
    height: 100vh;   
    color: hsla(0,0%,100%,.9);    
    font-family: 'Libre Baskerville', serif;    
}

.wrapper {  
    text-align: center;
    width: 100vh;
    line-height: 1.5rem;
    padding: 1.5rem .625rem;
    letter-spacing: .2rem;
    font-size: 1.286rem;
    background-color: hsla(100,0%,0%,.6);
}


header h1 {
    font-family: 'Great Vibes', cursive;
    color: #d2ba87;
    font-size: 3rem;
    line-height: 4.5rem;
}

header hr {
    width: 12rem;
    height: .0001rem;
}

header .date {
    font-size: 1.25rem;
    letter-spacing: .15rem;
    vertical-align: middle;
}

.date::before,
.date::after {
    display: inline-block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 1.5rem;
    vertical-align: middle;
    margin: 0 .5rem;
}

@media (min-width: 768px) {
    header p {
        text-transform: uppercase;
    }

    header h1 {
        font-size: 6rem;
        line-height: 9rem;
    }

    .wrapper {  
        width: 40vh; 
    }
}

@media (min-width: 1080px) {
    .wrapper {  
        width: 75vh; 
    }
}


/* ==== MAIN STYLES ==== */
main {
    background: url(assets/wedding-landing-background.png) repeat center;
    font-family: 'Mulish', sans-serif;
    color: #444349;
    text-align: center;
    line-height: 1.685rem;
    font-size: 1.2rem;
}

main h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    padding: 2.5rem;
}

main h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.428rem;
    padding: 1.5rem;
}

main .locations h2 {
    font-weight: bold;
}

main img {
    width: 25vw;
    padding: 1rem;
}

main hr {
    width: 8rem;
    border: .125rem solid;
}

main .locations {
    padding-bottom: 2rem;
}

main .alternate {
    color: #d2ba87;
    background-color: hsla(100,0%,0%,.6);
    text-align: left;
    padding: 0 1rem;
}

main .alternate h1, h2 {
    text-align: center;
}

main .questions h2 {
    padding: 0;
}

main ul {
    padding-bottom: 2rem;
}

main .quote {
    font-style: italic;
}

main .gifts p {
    font-family: 'Libre Baskerville', serif;
    padding-bottom: 1rem;
}

main .questions strong {
    font-weight: bold;
}


main .questions hr {
    width: 16rem;
    border: .1rem solid;
}

a {
    text-decoration: none;
    color: #bd806e
}

a:hover {
    color: #eda087;
    transition: color .2s ease-in-out;
}

main .contact p {
    font-family: 'Libre Baskerville', serif;
    padding: 0 1rem;
    }

main .contact {
    padding-bottom: 3rem;
}

@media (min-width: 768px) {
    main hr {
        display: none;
    }

    main .cerenomy, .photos, .party {
        max-width: 25%;
        display: inline-block;
    }

    main .locations img {
        width: 60%;
    }

    .locations:after {
        content: " ";
        clear: both;
        display: block;
        padding: 0 3rem;
    }

    main .program {
        margin: 0 30%;
    }

    .gifts img {
        width: 15%;
    }

    .travel, .food, .other  {
        max-width: 33%;
        float: left;
        padding: 0 1rem;
    }


    .questions:after {
        content: " ";
        clear: both;
        display: block;
        padding-bottom: 3rem;
    }

    main .contact p {
        padding: 1rem ;
    }
}

@media (min-width: 1080px) {
    .gifts img {
        width: 8%;
    }

    main .cerenomy, .photos, .party {
        max-width: 33%;
        float: left;
        padding: 0 8vw 3rem;
    }

    main .locations img {
        width: 60%;
    }

    .locations:after {
        content: " ";
        clear: both;
        display: block;
        padding: 0 3rem;
    }
}

/*==== FOOTER STYLES ====*/
.all {
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
}

footer {    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 97vw;
    height: 100px;   
    background: #606060;
    color: hsla(0,0%,100%,.9);
    text-align: center;
    font-size: .875rem;
}

footer p, a {
    font-family: 'Mulish', sans-serif;
    line-height: 100px;
}

